.form-control , label , .btn{
	font-family: 'PT Serif', serif;

}
.btn {
	--bs-btn-box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.15),0 0px 0px rgba(0, 0, 0, 0.075);
}

.programa a{
	text-decoration: none;

}
#barra{
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
.escondido{
	width:100%;
	text-align: center;
	margin-top:1px; margin-bottom:1px;
	
	align-items: center;
}
.escondido img{
	width:200px;
	padding: 5px;


}

nav .barnav div:hover{
	text-shadow: 1px 1px 2px black;
}


@media only screen and (max-width: 600px) {
	nav{
	background:none;
}
nav{
display:grid;
grid-template-columns: 1fr auto;
align-items: center;

font-family: sans-serif;


width:100%;
}
nav .barnav{
display:grid;
grid-template-columns: repeat(1,auto);
margin-right: 10px;
}
nav .barnav div{
padding: 10px 20px;
font-size:17px;
color:#242c5c;
font-family: 'PT Serif', serif;
}
nav .barnav div:hover{
cursor: pointer;
background:#2ea3f2;
color:white;
}	
.logo{
	display:none;
}

.logo img{
	width:260px;
}
}
@media only screen and (min-width: 600px) {

nav{
display:grid;
grid-template-columns: 1fr auto;
align-items: center;

font-family: sans-serif;


width:100%;
}
nav .barnav{
display:grid;
grid-template-columns: repeat(1,auto);
margin-right: 10px;
}
nav .barnav div{
padding: 10px 20px;
font-size:17px;
color:#242c5c;
font-family: 'PT Serif', serif;
}
nav .barnav div:hover{
cursor: pointer;
background:#2ea3f2;
color:white;
}	
.logo{
	display:none;
}

.logo img{
	width:260px;
}

}
@media only screen and (min-width: 768px) {
	
nav{
display:grid;
grid-template-columns: 1fr auto;
align-items: center;

font-family: sans-serif;


width:100%;
}
nav .barnav{
display:grid;
grid-template-columns: repeat(6,auto);
margin-right: 10px;
}
nav .barnav div{
padding: 10px 20px;
font-size:15px;
color:#242c5c;
font-family: 'PT Serif', serif;
}
nav .barnav div:hover{
cursor: pointer;
background:#2ea3f2;
color:white;
}	
.logo{
	display:none;
}

.logo img{
	width:260px;
}
}
@media only screen and (min-width: 992px) {

nav{
display:grid;
grid-template-columns: 1fr auto;
align-items: center;

font-family: sans-serif;


width:100%;
}
nav .barnav{
display:grid;
grid-template-columns: repeat(6,auto);
margin-right: 10px;
}
nav .barnav div{
padding: 10px 20px;
font-size:17px;
color:#242c5c;
font-family: 'PT Serif', serif;
}
nav .barnav div:hover{
cursor: pointer;
background:#2ea3f2;
color:white;
}	
.logo{
	display:none;
}
.logo img{
	width:100px;
}
}
@media only screen and (min-width: 992px) {

nav{
display:grid;
grid-template-columns: 1fr auto;
align-items: center;

font-family: sans-serif;


width:100%;
}
nav .barnav{
display:grid;
grid-template-columns: repeat(6,auto);
margin-right: 10px;
}
nav .barnav div{
padding: 10px 20px;
font-size:17px;
color:#242c5c;
font-family: 'PT Serif', serif;
}
nav .barnav div:hover{
cursor: pointer;
background:#2ea3f2;
color:white;
}	

.logo img{
	width:200px;
}
}
@media only screen and (min-width: 1200px) {

nav{
display:grid;
grid-template-columns: 1fr auto;
align-items: center;

font-family: sans-serif;


width:100%;
}
nav .barnav{
display:grid;
grid-template-columns: repeat(6,auto);
margin-right: 10px;
}
nav .barnav div{
padding: 10px 20px;
font-size:17px;
color:#242c5c;
font-family: 'PT Serif', serif;
}
nav .barnav div:hover{
cursor: pointer;
background:#047cbb;
color:white;
}	
.logo{
	display:block;
}

.logo img{
	width:250px;
}
.escondido{
	display:none;
}
}
